{% extends "base.html" %}

{% block title %} Reset your password {% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="welcome-title">Reset your password</h1>
    {% if validlink %}
        <p class="welcome-message">Please enter your new password twice:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password" class="btn-submit" />
        </form>
    {% else %}
        <p class="welcome-message">
            The password reset link was invalid, possibly because it has already been used. Please 
            <a href="{% url 'password_reset' %}" class="welcome-link">request a new password reset</a>.
        </p>
    {% endif %}
</div>
{% endblock %}
