{% extends "base.html" %}

{% block title %} Potwierdź usunięcie {% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="delete-title">Potwierdź usunięcie</h1>
    <p class="delete-message">Czy na pewno chcesz usunąć tę notatkę?</p>
    <form method="post">
        {% csrf_token %}
        <div class="delete-actions">
            <button type="submit" class="delete-btn">Usuń</button>
            <a href="{% url 'note:note_list' %}" class="cancel-btn">Anuluj</a>
        </div>
    </form>
</div>
{% endblock %}
